@import "tailwindcss";

@keyframes slideFadeIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-animated {
  animation: slideFadeIn 0.5s ease-out forwards;
}

