@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes slideFadeIn {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-animated {
  animation: slideFadeIn 0.5s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 0.2s ease-out forwards;
}


